*{
    margin: 0px;
    padding: 0px;
}

body  {
    background-color: #2a2e33;
    color: #a2aaaa;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}